
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

/* common styles
================ */
.pre-title{
  color: #F00;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom:16px ;
  text-transform: uppercase;
}
.sec-title{
color: #070211;
font-size: 3rem;
font-weight: 900;
margin-bottom: 22px;
font-family: 'Merriweather', serif;

}
.sec-detail{
  color: rgba(7, 2, 17, 0.60);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 32px;
}
.content-over-img{
  position: absolute;
  color: white;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  top:0;
  justify-content: center;
}


/* Header 
========== */
header{
  padding: 50px 140px;
  font-family: 'Merriweather', serif;
}
.banner{
  height:540px;
  position: relative;
}
.banner>img{
  width: 100%;
  height:100%;
  position: absolute;
}

.banner-content>div{
  text-align: center;
}
.banner-content>div> p{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.banner-content>div>h1{
  font-size: 4rem;
  line-height: 6rem;
  font-weight: bold;
}

/* Main 
========*/
main{
  margin: 0 140px;
  padding: 70px 0 120px;
}
/* hot deal section
------------------ */
.holyday-deal{
  text-align: center;
  text-transform: uppercase;
}
.holyday-deal>h1{
  color: #F00;
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.holyday-deal>h2{
  font-weight: 700;
  font-family: 'Inter', sans-serif;

}
.holyday-deal>img{
  margin-top: 26px;
}

/* midnight Party section */
.mid-party{
  position: relative;
  margin-top: 120px;
}
.mid-party img{
  width: 100%;
}
.party-content{
  padding: 4rem 8rem;
}
.party-content>.left{
  width: 700px;
}
.party-heading{
  font-family: Merriweather;
  font-size: 4rem;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
.party-details{
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  line-height: 30px;
  margin-top: 1.5rem;
}
.party-btn{
  margin-top: 3rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  color:#FFF;
  border:none;
  margin-left: 2rem;
  cursor: pointer;
}
.party-content>img{
  height: 90%;
  width:auto;
}

/* Event Time */
.event{
  margin-top: 120px;
  padding: 110px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%)
}
.event h3{
  font-size: 2rem;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.event span{
  color:#F00
}
.join-btn{
  margin-top: 3rem;
  padding: 1rem 2rem;
  background-color: #f00;
  border: none;
  color: #FFF;
font-size: 1.25rem;
font-weight: 700;
text-transform: uppercase;
cursor: pointer;
border-radius: 5px;
box-shadow: 0 6px 10px rgba(169, 133, 133, 0.3);
}

/* comming soon section */
.upcoming{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  gap:3rem;
}
.upcoming-left{
  max-width: 350px;
}
.upcoming-img>img{
  width:463px;
  border: 15px solid #f00;
  border-radius: 50%;
  padding: 34px;
}
.upcoming-right, .upcoming-left{
  margin-top: 112px;
}
.upcoming-right>.c24{
  color: #F00;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.upcoming-right>img{
  margin-top: 3rem;
}

/* offer section */
.offer{
  margin-top: 120px;
}
.offer-content{
  text-align: center;
  font-weight: 500;
}
.offer-pre-title{
  color:#070211;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.offer-title{
  font-family: Merriweather;
  font-size: 4.5rem;
  font-weight: 900;
  margin-top: 1rem;
  
}
.offer-title>span{
  color:#F00;
}
.offer-details{
  font-weight: 500;
  margin: 1.5rem auto 4rem;
  max-width: 80%;

}
.offer-top{
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.offer-img1{
  width: 55%;
  z-index:10;
}

.offer-top-right{
  display: flex;
  justify-content: right;
  align-items: center;
}
.discount{
  width: 230px;
  height: 230px;
  margin-right: -120px;
  z-index: 20;
}
.offer-img2{
  width: 377px;
  height: auto;
  z-index: 10;
}

.offer-visual>img{
  width:100%;
  margin-top: -150px;
  z-index:-1;
}





/* portfolio section/ Products */
.portfolio{
  margin-top: 120px;
}
.products{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap:24px;
}
.products>div{
  display: flex;
  justify-content: space-between;
  gap:24px;
}
.products>div>img{
  width:32%;
}
.products>div>img:hover{
  opacity: 0.5;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 1rem;
}


/* subscription section */
.sub-container{
  background-color: rgba(255, 0, 0, 0.051);
  text-align: center;
  padding:5rem 212px ;
  margin-top: 120px;
}
.sub-container>h2{
  margin-top: 2.5rem;
}
.sub-container>div{
  display: flex;
  gap: 0;
  justify-content: center;
  margin-top: 48px;
}
#email{
  color: rgba(7, 2, 17, 0.30);
  font-size: 1.25rem;
  border-radius:3rem 0 0 3rem;
  padding: 25px 30px;
  border: none;
  box-shadow: 0 6px 10px rgba(255, 0, 0, 0.051);
  }
#sub-btn{
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #F00;
  border-radius: 0 3rem 3rem 0;
  padding: 1.5rem 3.5rem;
  border:none;
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(255, 0, 0, 0.051);
}




/* footer
========== */
footer{
  background-color: #070211;
  color: aliceblue;
  padding: 120px 140px;
  font-size: 1.5rem;
}
.address{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 135px 50px 0;
  color: #fff;
  line-height: 2.5rem;
}
.right div{
  display: flex;
  align-items: center;
  gap:1rem
}
.right div a{
  color: #fff;
  text-decoration: none;
}
.social{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 3rem;
}
.copyright{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}




