
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

/* common styles
================ */
.pre-title{
  color: #F00;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom:16px ;
}
.sec-title{
color: #070211;
font-size: 3rem;
font-weight: 900;
margin-bottom: 22px;
font-family: 'Merriweather', serif;

}
.sec-detail{
  color: rgba(7, 2, 17, 0.60);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 32px;
}



/* Header 
========== */
header{
  background-color: antiquewhite;
  padding: 50px 140px;
  font-family: 'Merriweather', serif;
}
.banner{
  height:540px;
  position: relative;
}
.banner>img{
  width: 100%;
  height:100%;
  position: absolute;
}
.banner>.banner-content{
  position: absolute;
  color: white;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content>div{
  text-align: center;
}
.banner-content>div> p{
  font-size: 2rem;
  margin-bottom: 1rem;
}
.banner-content>div>h1{
  font-size: 4rem;
  line-height: 6rem;
  font-weight: bold;
}

/* Main 
========*/
main{
  background-color: rgb(238, 243, 241);
  margin: 0 140px;
  padding: 70px 0 120px;
}
/* hot deal section
------------------ */
.holyday-deal{
  text-align: center;
  text-transform: uppercase;
}
.holyday-deal>h1{
  color: #F00;
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.holyday-deal>h2{
  font-weight: 700;
  font-family: 'Inter', sans-serif;

}
.holyday-deal>img{
  margin-top: 26px;
}


/* subscription section */
.sub-container{
  background-color: rgba(255, 0, 0, 0.051);
  text-align: center;
  padding:5rem 212px ;
  margin-top: 120px;
}
.sub-container>h2{
  margin-top: 2.5rem;
}
.sub-container>div{
  display: flex;
  gap: 0;
  justify-content: center;
  margin-top: 48px;
}
#email{
  color: rgba(7, 2, 17, 0.30);
  font-size: 1.25rem;
  border-radius:3rem 0 0 3rem;
  padding: 25px 30px;
  border: none;

}

#sub-btn{
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #F00;
  border-radius: 0 3rem 3rem 0;
  padding: 1.5rem 3.5rem;
  border:none;
}



/* footer
========== */
footer{
  background-color: rgb(19, 18, 16);
  width: 100vw;
  color: aliceblue;
  padding: 120px 140px;
  font-size: 1.5rem;
}
.address{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 135px 50px 0;
  color: #fff;
  line-height: 2.5rem;
}
.right div{
  display: flex;
  align-items: center;
  gap:1rem
}
.right div a{
  color: #fff;
  text-decoration: none;
}
.social{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 3rem;
}
.copyright{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}